@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

/* font-family: 'Cinzel', serif; */
/* font-family: 'Exo', sans-serif; */

@media (max-width: 767px) {}

@media (min-width: 768px) {

    /* topo */
    .topo {
        background-color: #181719;
    }

    #div-pai {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .div-filha a {
        padding: 20px 50px;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Cinzel', serif;
        color: #f2f2f2;
        display: inline-block;
        font-weight: bold;
        justify-content: left;
        align-items: center;
        text-align: center;
        display: flex;
        letter-spacing: 2px;
    }

    .div-filha a:hover {
        color: red;
    }

    a i {
        margin-right: 15px;
    }

    /* topo */

    /* bloco-quem-somos */
    .bloco-quem-somos {
        background-color: #181719;
        padding: 50px 0px;
    }

    .bloco-quem-somos img {
        display: flex;
        object-fit: cover;
        margin: 0 auto;
        max-width: 1255px;
        max-height: 768px;
        width: 100%;
        height: 100%;
    }

    /* bloco-quem-somos */
}